/*----- RESET ----- */
*{ border:none; outline:none; font-family: 'PT Sans', sans-serif;margin: 0px;}
a {text-decoration:none;}
ul{list-style: none;}

/* RESET */
header{height: 500px;background: url(assets/wave.svg);background-size:cover;}
main{height: 300px;background: url(assets/wave_end.svg);background-size:cover;}
section{background-color: white;}
footer{background-color: #0099ff;color: white;font-size: 20px;letter-spacing: 0.5px;}

.textos{font-size: 22px;}
.titulos{font-size: 45px;}

#container-quemsomos{background-color: red;margin-bottom:120px;padding: 50px;}
#container-servicos{background-color: yellow;padding: 50px;}

/* NAV */
.menu{font-size:25px;color: white; letter-spacing: 1.5px;font-weight: 600;}
.menu:hover{font-size:25px;color:white; letter-spacing: 1.5px;font-weight: 600;}
#edit{background-color: none;margin-top: -10px;}
#botao{font-size:22px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px; border: 1px solid white;width: 160px;background: #FFFFFF;
border-radius: 73px;}
.contato-nav{margin-left: 50px;}

/* SECTION */
.hr{background-color: #7D5FFF;width: 120px;height: 3px;}
#texto-section-quemsomos{margin-top: 35px;;width: 60%;background-color: #7D5FFF;}

/*MAIN*/
.section-footer{background-color: #0099ff;height: 600px;}
.titulos-info-login{color: white;font-size: 35px;}
.btn-info{width: 250px;}


#container-info-login{background-color: red;margin-top: 8em;margin-left: 5em;}
.titulos-login{font-size: 30px;padding: 20px;}
.titulos-login-esqueci{font-size: 18px;padding: 5px;float: right;}


#container-forms{background-color: white;border-radius: 33px; width: 450px;height: 360px;margin-top: 7em;margin-left: 8em;}
.forms{padding: 50px;padding-top: 0px;}
#contato{height: 700px;margin-bottom: 0px; margin-top: 0px;}
#title-forms{color:white;}
#texto-contato{margin-top: 100px; margin-left: 100px;}
#btn-form{background-color: #7D5FFF; border-radius:25px; width: 100%;font-size:20px;color: white;}

.form-label {
	font-size: 18px;
	color: black;
	margin: 0;
	display: block;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}

.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}