

main #reports-tabs li a {
  background-color: #fff;
  color: #000;
}

main #reports-tabs li a.active {
  background-color: #454d55;
  color: #fff;

  /* Reset da borda padrão */
  border: 0;
  /* Nova borda somente embaixo */
  border-bottom: 1px solid #454d55;
}


main .tab-content section h1 {
  margin-top: 25px;
  font-weight: 800;
  color: #fff;
}