/*----- RESET ----- */
*{ border:none; font-family: 'PT Sans', sans-serif;margin: 0px;}
body {
    background-image: url("../assets/party_background.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}
a {text-decoration:none;}
ul{list-style: none;}
html {scroll-behavior: smooth;}

/* BOTÃO ADICIONAR EVENTO*/
#add-event {
    position:fixed;
    bottom:30px;
    right:80px;
    padding: 18px;
    outline: 0;
    border-radius: 50%;
    background-color: #fff;
    transition:0.2s;
}

#add-event:hover {
    border-radius: 15px;
}

#add-event img {
    height: 25px;
    width: 25px;
}

/*BEM VINDO*/
.titulo-principal{
    max-width: 500px;
    text-align: center;
    margin: 60px auto;
    color: #fff;
    font-weight: 600;
    font-size:40px;
    background-color: #7D5FFF;
    border-radius: 33px;
    padding:25px;
    border:2px solid white;
}
.titulo-principal:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

/* MAIN */
main {
    margin: 35px 50px 0;
}

.events-title {
    color: #fff;
    font-size:50px;
}

.tabela-eventos {
    border-radius: 15px;
}

.tabela-eventos .table {
    border-radius: 15px;
}

.tabela-eventos tr th { 
    font-size: 20px;
}

.tabela-eventos tr .actions-column { 
    display: flex;
    justify-content: space-evenly;
}

.tabela-eventos tr .actions-column a,
.tabela-eventos tr .actions-column button { 
    padding: 8px;
    display: flex;

    border-radius: 50%;
    outline: 0;
    transition: 0.2s;
    background-color: #fff;
}

.tabela-eventos tr .actions-column a:hover,
.tabela-eventos tr .actions-column button:hover { 
    border-radius: 15px;
}

.tabela-eventos tr .actions-column a img,
.tabela-eventos tr .actions-column button img { 
    height: 25px;
    width: 25px;
}

.titulos-modal{color:white;font-size:35px;letter-spacing:0.5px;text-align: center;}

.hr{background-color: #7D5FFF;width: 300px;height: 3px;margin: auto;}

/*MODAL CADASTRO*/
#fundo-modal{background-color:  #7D5FFF; border-radius: 77px;color:white;padding:15px;}
#fundo-modal input{border-radius: 55px;}
#fundo-modal button{width:100%;}
#salvar-btn{background-color: white;color:black;border:1px solid black;border-radius: 25px;font-size: 20px;}